name: Training Workflow

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  train-and-commit:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install mlflow pandas numpy scikit-learn matplotlib seaborn

    - name: Run Training Directly
      run: |
        cd MLProject
        # Kita panggil langsung python-nya agar tidak error entry point lagi
        python modelling.py

    - name: Commit & Push Artifacts
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        
        # Tambahkan folder mlruns jika ada
        git add .
        
        git commit -m "Auto-commit: New training results" || echo "No changes"
        git push